[Unit]
Description=Helm Chart Repository
After=network.target
After=etcd.service

[Service]
ExecStart=/usr/local/bin/helm serve \
  --repo-path {{ chart_repository_root }} \
  --address {{ inventory_hostname }}:{{ chart_repository_port }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
