[Service]
Environment="ETCD_INITIAL_CLUSTER={{ cluster_hosts }}"
Environment="ETCD_INITIAL_CLUSTER_STATE=new"
Environment="ETCD_INITIAL_CLUSTER_TOKEN={{ cluster_token }}"
Environment="ETCD_LISTEN_PEER_URLS=https://{{ inventory_hostname }}:{{ etcd_peer_port }}"
Environment="ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ inventory_hostname }}:{{ etcd_peer_port }}"
