[Service]
Environment="ETCD_NAME={{ etcd_name }}"
Environment="ETCD_DATA_DIR={{ etcd_data_dir }}/default.etcd"
Environment="ETCD_LISTEN_CLIENT_URLS=https://{{ inventory_hostname }}:{{ etcd_client_port }}"
Environment="ETCD_ADVERTISE_CLIENT_URLS=https://{{ inventory_hostname }}:{{ etcd_client_port }}"
Environment="ETCD_CERT_FILE=/etc/etcd/pki/etcd.pem"
Environment="ETCD_KEY_FILE=/etc/etcd/pki/etcd-key.pem"
Environment="ETCD_PEER_CERT_FILE=/etc/etcd/pki/etcd.pem"
Environment="ETCD_PEER_KEY_FILE=/etc/etcd/pki/etcd-key.pem"
