[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --v={{ kube_log_level }} \
  --log-dir={{ kube_log_dir }} \
  --logtostderr={{ kube_logtostderr }} \
  --anonymous-auth=false \
  --client-ca-file=/etc/kubernetes/pki/ca.pem \
  --kubeconfig=/etc/kubernetes/kubelet-{{ inventory_hostname }}.conf \
  --address={{ inventory_hostname }} \
  --cluster-dns={{ dns_ip }} \
  --cluster-domain={{ dns_domain }} \
  --allow-privileged=true \
  --authorization-mode=AlwaysAllow \
  --network-plugin=cni \
  --cni-bin-dir=/usr/local/share/cni \
  --cgroup-driver=systemd \
  --pod-infra-container-image={{ groups['registry'][0] }}:{{ registry_port }}/system/pause:3.0 \
  --hostname-override={{ inventory_hostname }}

Restart=on-failure
[Install]
WantedBy=multi-user.target
