[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/kubernetes/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/proxy \
  --v={{ kube_log_level }} \
  --cluster-cidr={{ service_subnet }} \
  --log-dir={{ kube_log_dir }} \
  --logtostderr={{ kube_logtostderr }} \
  --kubeconfig=/etc/kubernetes/kube-proxy.conf \
  --bind-address={{ inventory_hostname }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
