[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStart=/usr/local/bin/controller-manager \
  --leader-elect=true \
  --v={{ kube_log_level }} \
  --log-dir={{ kube_log_dir }} \
  --logtostderr={{ kube_logtostderr }} \
  --use-service-account-credentials=true \
  --kubeconfig=/etc/kubernetes/kube-controller-manager.conf \
  --root-ca-file={{ remote_cert_path }}/ca.pem \
  --service-account-private-key-file={{ remote_cert_path }}/ca-key.pem \
  --cluster-signing-cert-file={{ remote_cert_path }}/ca.pem \
  --address=127.0.0.1 \
  --cluster-cidr={{ kube_subnet }} \
  --service-cluster-ip-range={{ service_subnet }} \
  --cluster-signing-key-file={{ remote_cert_path }}/ca-key.pem
Restart=on-failure

[Install]
WantedBy=multi-user.target
