[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target
After=etcd.service

[Service]
ExecStart=/usr/local/bin/apiserver \
  --v={{ kube_log_level }} \
  --log-dir={{ kube_log_dir }} \
  --logtostderr={{ kube_logtostderr }} \
  --kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname \
  --requestheader-extra-headers-prefix=X-Remote-Extra- \
  --requestheader-group-headers=X-Remote-Group \
  --client-ca-file={{ remote_cert_path }}/ca.pem \
  --tls-cert-file={{ remote_cert_path }}/kube-apiserver.pem \
  --tls-private-key-file={{ remote_cert_path }}/kube-apiserver-key.pem \
  --kubelet-client-certificate={{ remote_cert_path }}/kube-apiserver-kubelet-client.pem \
  --kubelet-client-key={{ remote_cert_path }}/kube-apiserver-kubelet-client-key.pem \
  --service-account-key-file={{ remote_cert_path }}/ca-key.pem \
  --admission-control=Initializers,NodeRestriction,NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota \
  --secure-port={{ kube_apiserver_port }} \
  --allow-privileged=true \
  --insecure-port=0 \
  --authorization-mode=RBAC,Node \
  --advertise-address={{ inventory_hostname }} \
  --etcd-servers={{ etcd_hosts }} \
  --etcd-certfile={{ remote_cert_path }}/etcd-client.pem \
  --etcd-keyfile={{ remote_cert_path }}/etcd-client-key.pem \
  --service-cluster-ip-range={{ service_subnet }}

Restart=on-failure

[Install]
WantedBy=multi-user.target
