[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/usr/local/bin/scheduler \
  --v={{ kube_log_level }} \
  --log-dir={{ kube_log_dir }} \
  --logtostderr={{ kube_logtostderr }} \
  --kubeconfig=/etc/kubernetes/kube-scheduler.conf \
  --address=127.0.0.1 \
  --leader-elect=true

Restart=on-failure

[Install]
WantedBy=multi-user.target
