{
    "CN": "Kubernetes API Server",
    "hosts": [
    "kubernetes",
    "kubernetes.default",
    "kubernetes.default.svc",
    "kubernetes.default.svc.{{ dns_domain }}",
    "127.0.0.1",
    "{{ master_plain_list }}",
    "{{ master_internal_ip }}"
    ]
}
