apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ remote_cert_path }}/ca.pem
    server: {{ master_url }}
  name: default
users:
- name: default
  user:
    client-certificate: {{ remote_cert_path }}/{{ item }}.pem
    client-key: {{ remote_cert_path }}/{{ item }}-key.pem
contexts:
- context:
    cluster: default
    user: default
  name: default
current-context: default
