apiVersion: v1
kind: ServiceAccount
metadata:
  name: helm
  namespace: {{ tiller_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: helm
  namespace: {{ tiller_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: helm
  namespace: {{ tiller_namespace }}
