#!/bin/sh
CA={{ cert_config_path }}/ca.pem
CA_KEY={{ cert_config_path }}/ca-key.pem
CONFIG={{ cert_config_path }}/config.json
PROFILE=$1
JSON=$2
OUTPUT=$3
 cfssl gencert -ca $CA -ca-key $CA_KEY -config=$CONFIG \
  -profile=$PROFILE $JSON | cfssljson -bare $OUTPUT
