{
    "signing": {
        "default": {
            "expiry": "{{ cert_expiration }}"
        },
        "profiles": {
            "server": {
                "expiry": "{{ cert_expiration }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "server auth",
                    "client auth"
                ]
            },
            "user": {
                "expiry": "{{ cert_expiration }}",
                "usages": [
                    "signing",
                    "key encipherment",
                    "client auth"
                ]
            }
        }
    }
}